<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h2>Edit listing : </h2><br>
    <form method="post" action="/listings/<%= listing._id  %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="listing[title]" value="<%=listing.title  %>" required>
            <div class="invalid-feedback">Please enter valid title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="listing[description]" required><%=listing.description  %></textarea>
            <div class="invalid-feedback">Please enter valid discription</div>
        </div>
        <div class="mb-3">
            Original Listing Iamge <br>
            <img src="<%= originalImageUrl  %>" alt="Listing_image" >
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" class="form-control" id="image" name="listing[image]" >

        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="listing[price]" value="<%=listing.price  %>" required>
                <div class="invalid-feedback">Please enter valid price</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="listing[country]" value="<%=listing.country  %>" required>
                <div class="invalid-feedback">Please enter valid country name</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="listing[location]" value="<%=listing.location  %>" required>
            <div class="invalid-feedback">Please enter valid location</div>
        </div>
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    <br>
    </div>
</div>